*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    font-family: 'Lobster', cursive;
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */
header{
    width: 100%;
    height: 600px;
    background: #d4ad40;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(34, 60%, 34%, 0.616), hsla(39, 79%, 58%, 0.534), hsla(23, 89%, 54%, 0.664)), url(../img/pan.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header{
    font-family: 'Dancing Script', cursive;
}

.textos-header h1{
    font-size: 80px;
    color: white;
}

.textos-header h2{
    font-size: 60px;
    font-weight: 300;
    color: white;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* About us */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background-color: #e2b96e;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* Galeria */

.portafolio{
    background-color: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    display: block;
    background-position: center;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(54, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: white;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background-color: #e6b68b;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: white;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 10px;
}


/* Our team */

.about-services{
    background-color: white;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 60%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}


/* Footer */

footer{
    background-color: dimgrey;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: white;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.content-foo p{
    color: white;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: white;
}
.form1 input[type="submit"]{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#CD5C5C;
    font-size: 20px;
}
.form1 input[type="submit"]:hover{
    cursor:pointer;
}
.Loguin h2{
     font-family: 'Lobster', cursive;
    color: #642a73;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
   
}
.Loguin p{
     font-family: Arial;
    color: #642a73;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px; 
}
.Loguin form{
    background-color: #E59866;
}
.log input[type="text"],
.log input[type="number"],
.log input[type="email"],
.log input[type="password"]{
    width:20%;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
    font-size: 20px;
}
.log input[type="submit"]{
    width:20rem;
    padding:8px 16px 12px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:inline-block;
    color:#fff;
    background-color:#CD5C5C;
    font-size: 20px;
}
.log input[type="submit"]:hover{
    cursor:pointer;
}
.log label{
    width:20%;
    font-weight:bold;
    text-align: right;
    display:inline-block;
}
.ok{
    background-color:#99EDA8;
    width: 50%;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    color: #1E5628;
    margin-right: 20%;
}
.modal-contenido,.modal-contenido2,.modal-contenido3{
  background-color:#E59866;
  width:300px;
  padding: 10px 10px;
  margin: 15% auto;
  position: relative;
}
.modal,.modal2,.modal3{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}
#miModal2:target{
  opacity:1;
  pointer-events:auto;
}
#miModal3:target{
  opacity:1;
  pointer-events:auto;
}


/*.modal label,.modal2 label{
    width:40%;
    font-weight:bold;
    text-align: left;
    display:inline-block; 
}*/
.modal input[type="text"],
.modal input[type="number"],
.modal2 input[type="text"],
.modal2 input[type="number"],
.modal3 input[type="number"],
.modal2 select{
     width:100%;
    font-weight:bold;
    text-align: left;
    font-size: 20px;
    display:inline-block; 
}
.modal input[type="submit"],.modal2 input[type="submit"],.modal3 input[type="submit"]{
    width:100%;
    display:inline-block;
    text-align: center;
    color:#fff;
    background-color:#CD5C5C;
    font-size: 20px; 
}
.botones{
   display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5px;
}
.botones a{
    color: #642a73;
    text-align: center;
    font-size: 60px;
}
.botones div{
    background-color: #E59866;

}
.pros{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 5px;
}
.pros div{
    background-color: #E59866;

}
.carrito h2{
     font-family: 'Lobster', cursive;
    color: #642a73;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}
.carrito form{
    background-color: #E59866;
}
.carrito table{
    width: 100%;
   border: 1px solid #000;
}
.carrito th,td{
 width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-spacing: 0;
}
.carrito input[type="submit"]{
width:100%;
    display:inline-block;
    text-align: center;
    color:#fff;
    background-color:#CD5C5C;
    font-size: 20px; 
}
.carrito input[type="submit"]:hover{
    cursor:pointer;
}
@media screen and (max-width: 900px){
    header{
        background-position: center;
    }


    
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */
    .imagen-port{
        width: 50%;
    }

    /* Clientes */
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* Servicios */
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}


@media screen and (max-width: 500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 30px;
    }

    .textos-header h2{
        font-size: 20px;
    }


    /* Galeria */
    .imagen-port{
        width: 45%;
        margin: 2px 2px;
    }

    .hover-galeria p{
        text-align: center;
    }


    /* About us */
    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }


    /* Clientes */
    .cards .card{
        height: 550px;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
        margin-bottom: 10px;
    }

    .contenido-texto-card{
        text-align: justify;
    }


    /* Footer */

    .contenedor-footer{
        flex-direction: column;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border-bottom: none;
    }

    .content-foo p{
        color: rgb(144, 201, 47);
        border-bottom: 2px solid #ccc;
        padding-bottom: 1px;
    }

}
